/* Header / Navbar */
header {
	background-color: #2b0000;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 100%;
}

.logo {
	font-size: 36px;
	color: #fff;
	text-decoration: none;
}

.logo:hover {
	color: #ddd;
}

.logoff {
	text-decoration: none;
	color: #fff;
}

.logoff:hover {
	color: #ddd;
}

/* Botão padrão - index.php */
.index-form .btn-padrao {
	background-color: #2b0000;
}

.index-form .btn-padrao:hover {
	background-color: #400000;
}

/* Botão padrão - home.php */

.botao-dentro .btn-padrao {
	background-color: #2b0000;
}

/* Botão padrão - cardápio semanal */
.card .card-body .btn-padrao {
	background-color: #2b0000;
}

.cardapio-semanal {
	font-size: 28px;
}

/* Feedback Icons */
.feedback-icon {
	font-size: 32px;
	cursor: pointer;
}

